---
- name: Deploy web server
  hosts: webservers
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Apache
      apt:
        name: apache2
        state: present

    - name: Ensure Apache is running
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Deploy simple index.html
      copy:
        dest: /var/www/html/index.html
        content: |
          <html>
          <h1>Servidor desplegado con Ansible 🚀</h1>
          </html>
